<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container">
        <h1>Welcome Back</h1>
        <form action="/login" method="POST">
            <label for="email">Gmail</label>
            <input type="email" id="email" name="email" placeholder="Enter your Gmail" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Enter your password" required>

            <button type="submit">Login</button>
        </form>
        <div style="text-align: center; margin-top: 1rem;">
            <p>Don't have an account? <a href="/signup" style="font-weight: bold;">Sign up</a></p>
            <a href="/users" style="font-weight: bold; display: block; margin-top: 0.5rem;"> Back to Home</a>
        </div>
    </div>
</body>

</html>